<a href="https://colab.research.google.com/github/shrinivas-rudrawar/Python_practice/blob/shrinivas/D4_Tuples_Sets_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tuples Sets Dictionary

Tuples are immutable ie we can not change

In [1]:
my_tuple = (1, 'a', 3)

In [2]:
print(my_tuple)

(1, 'a', 3)

In [3]:
type(my_tuple)

tuple

Tuple Indexing

In [5]:
another_tuple = ('one', 2, 4.53, 'asbc')

In [6]:
another_tuple[0]

'one'

In [7]:
another_tuple[-1]

'asbc'

Tuple Slicing :

In [8]:
another_tuple[:-2]

('one', 2)

In [9]:
another_tuple[1:3]

(2, 4.53)

In [11]:
my_tuple = (1)

In [13]:
# Note : Here "my_tuple" is not tuple
type(my_tuple)

int

In [14]:
my_tuple = (1, )
type(my_tuple)

tuple

In [15]:
my_tuple = 1,2
type(my_tuple)

tuple

In [10]:
random_tuple = (1, 5, 6, 2)

In [16]:
# This converts tuple into list
sorted(random_tuple)

[1, 2, 5, 6]

Tuple Methos :

In [17]:
# index() - returns index of the specified element
my_tuple = (1,2,3,4,5,6,1,1,2)

In [18]:
my_tuple.index(4)

3

In [19]:
# count() : return total occurance of the element
my_tuple.count(1)

3

In [32]:
colours = ('shri', 'rushi', 'om')
'om' in colours

True

In [20]:
#Tuple does not support append(), extend(), remove(), pop() methods

In [21]:
# zip()
# This methods takes multiple list as arguments

In [27]:
city_list = ['Delhi', ' Patna', 'Cuttuk', 'Guwahati', 'Nanded']
river_list = ['Yamuna', 'Ganga', 'Mahanandi', 'Bramhaputra']

In [28]:
city_river_list = zip(city_list, river_list)

In [29]:
city_river_list

In [30]:
type(city_river_list)

zip

In [31]:
city_river_list = list(city_river_list)
city_river_list

[('Delhi', 'Yamuna'),
 (' Patna', 'Ganga'),
 ('Cuttuk', 'Mahanandi'),
 ('Guwahati', 'Bramhaputra')]

In [33]:
int_tuple = '1', '2'
str_tuple = ('3', '4')
print(int_tuple + str_tuple)

('1', '2', '3', '4')

**Sets**

In [35]:
# Sets are unordered collection of unique items
# Can construct using set() function
# Sets are mutable like list

In [36]:
empty_set = set()

In [37]:
my_set = {1,2,4}

In [38]:
# An empty set can not represented as {}, which is reserved for empty dict
my_object = {}
type(my_object)

dict

In [39]:
type(my_set)

set

In [40]:
my_set = {1, 'abc', 2.34}

In [41]:
# we can cast multiple list to get unique elemet
my_list = [1,4,5,8,1,3,5,2,9,1,3]

In [42]:
my_set = set(my_list)
my_set

{1, 2, 3, 4, 5, 8, 9}

In [43]:
# A set can not have mutable items
new_set = {1,2, [4,5]}

TypeError: unhashable type: 'list'

In [44]:
new_set = {1,2, (4,5)}

In [45]:
new_set

{(4, 5), 1, 2}

In [46]:
new_set = {1,2, {4,5}}

TypeError: unhashable type: 'set'

Sets Methos

In [47]:
my_set = set()

In [48]:
# add()
my_set.add(2)

In [49]:
print(my_set)

{2}

In [50]:
# update() : helps to add multiple elements
my_set.update([4,6,8])

In [51]:
print(my_set)

{8, 2, 4, 6}

In [52]:
# remove() - remove item from the set
my_set.remove(8)
print(my_set)

{2, 4, 6}

In [53]:
my_set.remove(88)

KeyError: 88

In [54]:
# union() - returns union of two sets
# also denoted by | operator

In [55]:
a = {1,2,3,4}
b = {4,5,6,7}
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [56]:
a | b

{1, 2, 3, 4, 5, 6, 7}

In [57]:
# intersection() : returns intersection of two sets
a.intersection(b)

{4}

In [58]:
# Also denoted by operator &
a & b

{4}

In [59]:
# difference() - returns diff of two sets
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [60]:
# also denoted by operator -
A - B

{1, 2, 3}

In [61]:
B.difference(A)

{6, 7, 8}

In [62]:
# symmetric_difference()
# returns the set of elements in A and B but not in both (excluding the intersection)
# also denoted by ^

In [63]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [64]:
A ^ B

{1, 2, 3, 6, 7, 8}

**Dictionaries**

In [66]:
# Python dictionary consist of key and value pair
# value is any python object
# constructed using {} braces

In [72]:
marve_dict = {'Name' : 'Thor', 'Place' : 'Asgard', 'Weapon' : 'Hammer', 1: 2, 'rivers' : ['purna', 'godavari']}

In [68]:
# calls values by their key
marve_dict['Place']

'Asgard'

In [70]:
marve_dict[1]

2

In [73]:
marve_dict['rivers']

['purna', 'godavari']

Dictionary Methods

In [74]:
# keys() - returns list of keys in dictionaries
marve_dict.keys()

dict_keys(['Name', 'Place', 'Weapon', 1, 'rivers'])

In [75]:
# values()
marve_dict.values()

dict_values(['Thor', 'Asgard', 'Hammer', 2, ['purna', 'godavari']])

In [76]:
print(marve_dict.values())

dict_values(['Thor', 'Asgard', 'Hammer', 2, ['purna', 'godavari']])

In [77]:
# items() - returns list of keys and values
marve_dict.items()

dict_items([('Name', 'Thor'), ('Place', 'Asgard'), ('Weapon', 'Hammer'), (1, 2), ('rivers', ['purna', 'godavari'])])

In [78]:
list(marve_dict.items())

[('Name', 'Thor'),
 ('Place', 'Asgard'),
 ('Weapon', 'Hammer'),
 (1, 2),
 ('rivers', ['purna', 'godavari'])]

In [81]:
# get() - Takes key as argument
marve_dict.get('Name')

'Thor'

In [80]:
marve_dict.get('Marks')

In [83]:
# we can pass 2nd argument as default value
marve_dict.get('Marks', 'Key is not found')

'Key is not found'

In [84]:
emp_dict = {'Name' : 'Shrinivas', 'Skills' : ['Python', 'Machine Learning', 'Deep Learning'], 'Band' : 6.0, 'Promotion Year' : [2016,2018,2020]}

In [85]:
emp_dict['Skills']

['Python', 'Machine Learning', 'Deep Learning']

In [86]:
emp_dict['Skills'][0]

'Python'

In [87]:
len(emp_dict)

4

In [88]:
emp_dict['Skills'][0].upper()

'PYTHON'

In [89]:
# add new key
emp_dict['Designation'] = 'Senior Datat Scientist'

In [90]:
emp_dict

{'Name': 'Shrinivas',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning'],
 'Band': 6.0,
 'Promotion Year': [2016, 2018, 2020],
 'Designation': 'Senior Datat Scientist'}

In [93]:
# update() - add an element which is key-value pair
# takes dict as argument
emp_dict.update({'Salary' : '2,00,000'})

In [94]:
emp_dict

{'Name': 'Shrinivas',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning'],
 'Band': 6.0,
 'Promotion Year': [2016, 2018, 2020],
 'Designation': 'Senior Datat Scientist',
 'Salary': '2,00,000'}

In [95]:
# we can also update the value of existing key in the dict
emp_dict.update({'Name': 'Sarthak'})

In [96]:
emp_dict

{'Name': 'Sarthak',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning'],
 'Band': 6.0,
 'Promotion Year': [2016, 2018, 2020],
 'Designation': 'Senior Datat Scientist',
 'Salary': '2,00,000'}

In [98]:
# dict()
# we can create dictionaries object
country_city_tuple = [('India','New Delhi'), ('Aus','Canberra'),('USA','Washington'),('England','London')]

In [99]:
country_city_dict = dict(country_city_tuple)
country_city_dict

{'India': 'New Delhi',
 'Aus': 'Canberra',
 'USA': 'Washington',
 'England': 'London'}

In [100]:
# pop() - returns an element from dict having given key
element_pop = country_city_dict.pop('England')

In [101]:
element_pop

'London'

In [ ]:
# we can use zip method to create dictionary obect from two list