<a href="https://colab.research.google.com/github/shrinivas-rudrawar/Python_practice/blob/shrinivas/D5M1_Statements%2C_Indentation_and_Conditional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Expressions need to be evaluated
# Expression is a combination of values, variables, operators and call to functions

In [ ]:
print(1+1)
print(len('Hello team Almabetter'))

2
21

In [ ]:
# import statement
import pandas as pd

In [ ]:
# statement do not return the value, They are simply executed
y = 3.14

Multi Line statements

In [ ]:
a = (2 + 3 + 4 +
     5 + 6 +
     10)

In [ ]:
a = 2 + 9 +

SyntaxError: invalid syntax (<ipython-input-5-bd791e2a30c3>, line 1)

In [ ]:
a = (2 + 3 + 4 + \
     5 + 6 + \
     10)
print(a)

30

In [ ]:
type(a)

int

In [ ]:
# we can also put multiple statements in single line
a = 1; b= 2; c = 3;

In [ ]:
a,b,c = (2,3,5), [7,8,9], {'a', 'b'};

In [ ]:
a

(2, 3, 5)

In [ ]:
b

[7, 8, 9]

In [ ]:
c

{'a', 'b'}

Python Comments

In [ ]:
# comments are starts from the #
# also we can comment code using '''

In [ ]:
'''Hey
  I am  Almabetter'''
a = 3

Indentation in Python

In [ ]:
a = 2
b = 3
if a>b :
  print( 'a > b')

In [ ]:
# Conditional statements
# if, elif, else
# if case1 :
# elif case2 :
# else

In [ ]:
x = 20

if x==20 :
  print('x is greater than 10')
  print(f'x is {x}')

x is greater than 10
x is 20

In [ ]:
if True :
  print(' This is always true')

 This is always true

In [ ]:
x = False
y = True

if x :
  print('x is true')
else :
  print('y is true')

y is true

In [ ]:
a = 10
b = 20
c = 30

if a > c :
  print('a is greater than c')
elif a > b :
  print('a is greater than b')
else :
  print('a is less than b & c')

a is less than b & c

In [1]:
# 0,0.0, None, [],{},() treat as False
if None :
  print('In the if statement')
else :
  print('In the else part')

In the else part

In [2]:
if [1,2] :
  print('In the if statement')
else :
  print('In the else part')

In the if statement

In [5]:
str1 ='learn Python'
str2=''
str3=''
for x in str1 :
  if(x=='r' or x=='n' or x=='p') :
    str2+=x
    pass
  if (x=='r' or x=='e' or x=='a') :
    str3+=x
    pass
print(str2,end=" ")
print(str3)

rnn ear

In [7]:
w = 0.5
n=5
if w<1 :
  price =1.45
if w>=1 :
  price= 1.15
total = w * price
if n>=10:
  total = total * 0.9
print(total)

0.725