<a href="https://colab.research.google.com/github/shrinivas-rudrawar/Python_practice/blob/shrinivas/M1W2D1_Loops_%26_ITerations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**There is Two loops in Python**

In [ ]:
names = ['shri', 'sarthak', 'vedant', 'govind', 'ashu', 'rushi']

In [ ]:
for name in names :
  print(name)

shri
sarthak
vedant
govind
ashu
rushi

In [ ]:
for index,name in enumerate(names):
  print(f'{name} : {index}')

shri : 0
sarthak : 1
vedant : 2
govind : 3
ashu : 4
rushi : 5

In [ ]:
# print list in reverse order
for name in names[::-1] :
  print(name)

rushi
ashu
govind
vedant
sarthak
shri

In [ ]:
numbers = [2,4,7,4,9,6,17]
squared = []
for num in numbers :
  square = num**2
  print(f'Square of {num} is {square}')
  squared.append(square)

Square of 2 is 4
Square of 4 is 16
Square of 7 is 49
Square of 4 is 16
Square of 9 is 81
Square of 6 is 36
Square of 17 is 289

In [ ]:
squared

[4, 16, 49, 16, 81, 36, 289]

In [ ]:
squared_dict = dict(zip(numbers,squared))
squared_dict

{2: 4, 4: 16, 7: 49, 9: 81, 6: 36, 17: 289}

In [ ]:
list(range(1,13))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
for num in range(1,13) :
  if num%2 == 0 :
    print(num)

2
4
6
8
10
12

In [ ]:
sentense = 'My name is shrinivas'
# this iterat over each character
for char in sentense :
  print(char)

M
y

n
a
m
e

i
s

s
h
r
i
n
i
v
a
s

In [ ]:
for word in sentense.split(' ') :
  print(word)

My
name
is
shrinivas

In [ ]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
list(range(0,12,3))

[0, 3, 6, 9]

In [ ]:
for num in range(0,24,2) :
  print(num**2)

0
4
16
36
64
100
144
196
256
324
400
484

In [ ]:
sum = 0
for num in range(0,10) :
  sum = sum + num
print(sum)

45

In [ ]:
sentense

'My name is shrinivas'

In [ ]:
for index,char in enumerate(sentense) :
  print(f'{index} : {char}')

0 : M
1 : y
2 :
3 : n
4 : a
5 : m
6 : e
7 :
8 : i
9 : s
10 :
11 : s
12 : h
13 : r
14 : i
15 : n
16 : i
17 : v
18 : a
19 : s

In [ ]:
for index,char in enumerate(sentense.split(' ')) :
  print(f'{index} : {char}')

0 : My
1 : name
2 : is
3 : shrinivas

In [ ]:
for word in sentense.split(' ') :
  if word not in ['shrinivas'] :
    print(f'{word}')

My
name
is

In [ ]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
for day in days :
  print(f'{day}')

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [ ]:
country_city_list = [('India','Delhi'), ('USA', 'Silicon valley'), ('UK', 'London')]

In [ ]:
#Tuple unpacking
for country,city in country_city_list :
  print(f'{country} : {city}')

India : Delhi
USA : Silicon valley
UK : London

In [ ]:
city_dict = dict(country_city_list)

In [ ]:
city_dict

{'India': 'Delhi', 'USA': 'Silicon valley', 'UK': 'London'}

In [ ]:
# Iterate over dictionary
for county,city in city_dict.items() :
  print(f'{county} : {city}')

India : Delhi
USA : Silicon valley
UK : London

# While Loop

In [ ]:
x=0
while x<5 :
  print(x)
  x = x+1
else :
  print('All done !!!!!!')

0
1
2
3
4
All done !!!!!!

In [ ]:
# break, continue, pass
# break : "breaks out of current closest enclosing loop
# continue : goes to top of closest enclosing loop
# pass :

In [ ]:
x = 0
while x<10 :
  if x==3 :
    print('breaking the loop')
    break
  else :
    print(x)
    x = x +1
    continue

0
1
2
breaking the loop

In [ ]:
l = []
for i in l :
  print(i)

In [ ]:
string ='My name is x'
for i in string :
  print(i,end=',')

M,y, ,n,a,m,e, ,i,s, ,x,

In [ ]:
a = [0,1,2,3]
i = -2
for i not in a :
  print(i)
  i+=1

SyntaxError: invalid syntax (<ipython-input-4-50b7ada04c0c>, line 3)

In [2]:
for i in range(0) :
  print(i)

In [1]:
x = ['ab', 'cd']
for i in x :
  x.append(i.upper())
print(x)

KeyboardInterrupt:

In [3]:
a = int(input())
b = int(input())
c = int(input())

print(f'The next date is[yyyy-mm-dd] {a}-{b}-{c}')

2024
4
17
The next date is[yyyy-mm-dd] 2024-4-17

In [12]:
# check triangle type
a = int(input())
b = int(input())
c = int(input())

if a==b==c  :
  print('Equlateral triangle')
elif a==b or b==c or a==c :
  print('Isoscales Triangle')
else :
  print('Scalene Triangle')

1
1
2
Isoscales Triangle

In [13]:
# take a input from user and calculate the sum and avg
l = []
while True :
  i = int(input())
  if i==0 :
    break
  l.append(i)
sum = sum(l)
avg = sum/len(l)

print(f'Sum = {sum} and Average = {avg}')

2
5
7
3
9
0
Sum = 26 and Average = 5.2